* {
    box-sizing: border-box;
  }

main{
  display: block;
  scroll-behavior: auto;
}

.slide{
  display: flex;
  flex-wrap: wrap;
}

.imagen img{
  display: flex;  
  transform-origin: center 20%;
  height: 100dvh;
    width: auto;
    -o-object-fit: contain;
    object-fit: contain;
  margin-top: 10%;
}
  
.container{
  position: relative;
  width: 110%;
  height: 110dvh;
  background-color: #111718;
  --foreground-color: #fdf4be;
  margin-top: -3.6%;
  margin-left: -8px;  
}

.slider input{
  visibility: hidden;
  display: none;
}

.botones{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 50px;
  gap: 10px;
}

.botones label {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 70%;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.botones label:hover{
  scale: 1.2;
  opacity: 1;
}