* {
    box-sizing: border-box;
  }

main{
  display: block;
  background-color: #111718;
  margin-top: -3.6%;
  margin-left: -8px;  
}

.slide{
  display: flex;
  flex-wrap: wrap;
}

.imagen{
  display: flex;
  height: 100%;
}

.imagen img{
  margin-top: 8%;
  height: 100vh;
  width: auto;  
}
  
.container{
  position: relative;
  width: 110%;
  height: 110dvh;
  
}

.slider input{
  visibility: hidden;
  display: none;
}

.botones{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 50px;
  gap: 10px;
}

.botones label {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 70%;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.botones label:hover{
  scale: 1.2;
  opacity: 1;
}